body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  #welcome-section {
    background-image: url("sagun2to.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  #welcome-section h1 {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  }
  
  #welcome-section button {
    background-color: black;
    color: white;
    border: none;
  }